@using TestWebApp.Controllers

@{
    ViewBag.Title = "Home Page";
}

@model FileViewModel[]

<div class="jumbotron">
    <h2>Welcome from the web server on @Environment.MachineName</h2>
</div>

<div class="row">
    <div class="col-md-4">
        @{ 
            foreach (var file in @Model)
            {
                <div>@Html.ActionLink(file.Name, "Files", "GetFileViaSymLink", file.Name);</div>
            }
        }
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />

                <button type="submit">Upload</button>

                @ViewBag.Message

            </div>
        }
    </div>
</div>